@import '../../assets/styles/variables';

.link-container {
    width: 60%;
    margin-bottom: 3rem;
}
.link {
    border: none;
    text-decoration: none;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem 3.5rem;
    border-radius: 2rem;
    &:hover {
        cursor: pointer;
    }
}
.login-link {
    @extend .link;
    background-color: $primary-red;
    color: $white;
}

.register-link {
    @extend .link;
    background-color: $white;
    color: $primary-grey-1;
}
