@import '../../assets/styles/variables';

.form-container {
    width: 60%;
}
.form-header {
    font-size: 2.8rem;
    color: $primary-black;
}
.form-sub-header {
    font-size: 1.2rem;
    font-weight: 600;
    color: $primary-black;
    margin-bottom: 2rem;
}
.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    &-header {
        color: $primary-grey-3;
    }
    &-input {
        display: block;
        padding: 1.2rem;
        border: none;
        background-color: $white;
        border-bottom: 1px solid $primary-grey-3;
    }
}
.link-btn-wrapper {
    margin-bottom: 5rem;
}
.forgot-password-link {
    flex: 1;
    font-size: 1.2rem;
    color: $primary-grey-3;
}
.submit-btn-container {
    flex: 1;
}
.submit-btn {
    width: 100%;
}
.sso-btn {
    width: 100%;
    margin-bottom: 3rem;
}
.terms-link {
    text-align: center;
    flex: 2;
    font-size: 1.1rem;
}
