@import '../../../assets/styles/variables';

.container {
    background-color: $primary-grey-5;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.sidebar-main-container {
    flex: 1;
    display: flex;
}
.sidebar-container {
    flex: 1;
}
.main-container {
    flex: 6;
}
