@import '../../../assets/styles/variables';
@import '../../../assets/styles/common';

.topbar-container {
    display: flex;
    background-color: $white;
    width: 100vw;
    padding: 0.8rem 2.5rem;
}
.logo-container {
    flex: 1;
    img {
        height: 5vh;
        width: 5vh;
        margin-right: 1rem;
    }
    span {
        font-size: 2.7rem;
        font-weight: 700;
        color: $primary-black;
    }
}
.search-container {
    flex: 3;
    display: flex;
    border: $border-size solid $primary-grey-3;
    padding: 0.3rem;
    border-radius: 1.8rem;
    input {
        border: none;
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        color: $primary-grey-2;
        line-height: 2rem;
        padding-left: 1.5rem;
    }
    .search-btn {
        margin-left: 1rem;
    }
}
.profile-notification-container {
    flex: 2;
    .notification-wrapper {
        &:hover {
            cursor: pointer;
        }
    }
    .notification-icon {
        width: 1.7rem;
        height: 1.7rem;
        color: $primary-grey-3;
        &:hover {
            cursor: pointer;
        }
    }
    .notification-icon-active {
        width: 1.7rem;
        height: 1.7rem;
        color: $primary-grey-3;
    }
    .notification-container {
        position: relative;
        margin-right: 2rem;
        z-index: 0;
        .notification-icon-active-indicator {
            position: absolute;
            left: 1.08rem;
            top: 1.02rem;
            height: 1rem;
            width: 1rem;
            fill: $primary-red;
        }
    }
    .profile-container {
        position: relative;
        .profile-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover {
                cursor: pointer;
            }
        }
        .profile-icon {
            width: 2.6rem;
            height: 2.6rem;
            color: $primary-grey-3;
            margin-right: 0.6rem;
        }
        span {
            font-weight: 600;
            font-size: 1.1rem;
        }
    }
    .notification-dropdown-wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 2.5rem;
        right: 0.2rem;
    }
    .notification-header {
        font-size: 1.6rem;
        padding: 1.8rem 2rem 0.5rem 2rem;
    }
    .notification-list-container {
        height: 40vh;
    }
    .notification-list {
        list-style: none;
        overflow-y: scroll;
        height: 100%;
        &::-webkit-scrollbar {
            @extend .scrollbar;
        }
        &::-webkit-scrollbar-track {
            @extend .scrollbar-track;
        }
        &::-webkit-scrollbar-thumb {
            @extend .scrollbar-thumb;
        }
    }
    .notification-list-item {
        padding: 0.8rem 2.5rem 0.8rem 2rem;
        h5 {
            font-size: 1rem;
        }
        small {
            font-size: 0.8rem;
        }
        &-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &-icon {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            padding: 0rem 1rem;
            background-color: rgba($color: $primary-red, $alpha: 0.2);
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 1.25rem;
            margin-right: 1rem;
        }
        &-msg {
            flex: 6;
            h5 {
                font-weight: 600;
                font-size: 1.2rem;
            }
            small {
                white-space: nowrap;
                font-size: 0.9rem;
            }
        }
        &:hover {
            cursor: pointer;
            background-color: rgba($primary-red, 0.05);
        }
    }
    .notification-alert-icon {
        color: $primary-red;
    }
    .profile-menu-dropdown-wrapper {
        position: absolute;
        top: 3rem;
        right: 0.2rem;
        z-index: $dropdown-z-index;
        .profile-owner-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.5rem 2rem;
            background-color: $primary-grey-6;
            .avatar-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1rem;
                img {
                    height: 3rem;
                    width: 3rem;
                    border-radius: 1.5rem;
                    background-position: center;
                }
            }
            .avatar-details-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                span {
                    font-size: 1rem;
                    font-weight: 400;
                }
                span:first-child {
                    font-size: 1rem;
                    font-weight: 800;
                }
            }
        }
        .profile-menu-list {
            list-style: none;
            &-item:first-child {
                padding: 0.8rem 2rem 0.8rem 2rem;
            }
            &-item:last-child {
                padding: 0.8rem 2rem 0.8rem 2rem;
            }
            &-item {
                padding: 0.8rem 2rem;
            }
            &-item:hover {
                cursor: pointer;
                background-color: rgba($primary-red, 0.05);
            }
        }
    }
}
