@import '../../assets/styles/variables';
@import '../../assets/styles/common';

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.data-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 0.8rem;
    margin-top: 1.5rem;
    padding: 1.5rem 2rem;
}
.header-container {
    color: $primary-black-1;
    margin-bottom: 1rem;
    h3 {
        font-size: 1.5rem;
        font-weight: 600;
    }
}
.selection-container {
    .data-source-type-selector {
        margin-top: 2rem;
    }
    .auth-type-selector {
        width: 18rem;
        margin-top: 2.5rem;
    }
    .connection-selector {
        margin-top: 2rem;
        border-radius: 0.5rem;
    }
    .connection-container {
        margin-top: 2.5rem;
        .host-port-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .host-port-fields {
                margin-right: 2rem;
            }
        }
    }
    .auth-container {
        margin-top: 2.5rem;
        .username-password-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 40%;
            .username-password-fields {
                margin-right: 2rem;
            }
        }
    }
    .action-container {
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
        .action-btns {
            border-radius: 0.5rem;
            height: 2.7rem;
            font-size: 1rem;
        }
        .create-reset-container {
            .create-btn {
                @extend .action-btns;
                margin-right: 1rem;
            }
            .reset-btn {
                @extend .action-btns;
            }
        }
    }
}
