@import '../../assets/styles/variables';

.btn {
    border: none;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding: 0rem 3.5rem;
    border-radius: 2rem;
    border: $border-size solid $primary-red;
    text-transform: uppercase;
    transition: all 0.08s linear;
    &:hover {
        cursor: pointer;
    }
    &:disabled {
        border-color: $primary-grey-4;
        background-color: $primary-grey-4;
        cursor: not-allowed;
    }
}

.btn-primary {
    @extend .btn;
    background-color: $primary-red;
    color: $white;
    &:hover {
        color: $primary-red;
        background-color: $white;
        svg {
            color: $primary-red;
        }
    }
}

.btn-outlined {
    @extend .btn;
    background-color: $white;
    color: $primary-red;
    border: $border-size solid $primary-red;
    &:hover {
        background-color: $primary-red;
        color: $white;
        svg {
            color: $white;
        }
    }
}

.btn-light {
    @extend .btn;
    border-color: $primary-grey-4;
    background-color: $primary-grey-4;
    color: $primary-grey-2;
    width: 100%;
    &:hover {
        color: $white;
        background-color: $primary-grey-3;
    }
}

.btn-circled {
    display: flex;
    justify-content: center;
    align-items: center;
    border: $border-size solid $primary-red;
    height: 3rem;
    width: 3rem;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 1.5rem;
    background-color: $primary-red;
    color: $white;
    transition: all 0.1s;
    &:hover {
        cursor: pointer;
        background-color: $white;
        color: $primary-red;
    }
}

.dropdown-container {
    z-index: $dropdown-z-index;
    border-radius: 0.5rem;
    background-color: $white;
    box-shadow: 1px 2px 10px $primary-grey-3;
}

.input {
    height: 3rem;
    display: block;
    color: $primary-grey-2;
    font-weight: 700;
    border: $border-size solid $primary-grey-1;
    width: 100%;
    padding: 0.5rem 1rem;
    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $primary-grey-3;
        text-transform: uppercase;
    }
    &::-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $primary-grey-3;
        text-transform: uppercase;
    }
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $primary-grey-3;
        text-transform: uppercase;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $primary-grey-3;
        text-transform: uppercase;
    }
}

.textarea {
    display: block;
    color: $primary-grey-2;
    font-weight: 700;
    border: $border-size solid $primary-grey-1;
    width: 100%;
    padding: 0.5rem 1rem;
    resize: vertical;
    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $primary-grey-3;
        text-transform: uppercase;
    }
    &::-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $primary-grey-3;
        text-transform: uppercase;
    }
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $primary-grey-3;
        text-transform: uppercase;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $primary-grey-3;
        text-transform: uppercase;
    }
}

.input-primary {
    @extend .input;
    border-radius: 0.4rem;
    &:focus {
        border-color: $primary-red;
    }
}

.textarea-primary {
    @extend .textarea;
    border-radius: 0.4rem;
    &:focus {
        border-color: $primary-red;
    }
}

.input-rounded {
    @extend .input;
    border-radius: 1.5rem;
}

.input-labeled-container {
    width: 100%;
    summary {
        font-weight: 700;
        font-size: 1.1rem;
        color: $primary-grey-3;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }
}

.textarea-labeled-container {
    width: 100%;
    summary {
        font-weight: 700;
        font-size: 1.1rem;
        color: $primary-grey-3;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }
}

.chip-container-text {
    display: inline-block;
    padding: 0rem 0.8rem;
    height: 2rem;
    border-radius: 1rem;
    border: $border-size solid $primary-grey-3;
    span {
        font-size: 0.8rem;
    }
}

.chip-container {
    display: inline-flex;
    align-items: center;
    padding: 0rem 0.8rem;
    height: 2rem;
    border-radius: 1rem;
    border: $border-size solid $primary-grey-3;
    span {
        font-size: 0.8rem;
    }
    svg {
        color: $primary-grey-3;
    }
}

.green-chip-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    height: 3rem;
    background-color: rgba($color: $green, $alpha: 0.2);
    border-radius: 1.5rem;
    border: $green solid $border-size;
    font-size: 1.3rem;
    svg {
        color: $green;
        animation-name: spin;
        animation-duration: 3000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    span {
        font-weight: 700;
        color: $green;
    }
}

.option {
    padding: 0.6rem 1.5rem;
    input[type='radio'] {
        appearance: none;
        display: none;
    }
}

.select-container {
    width: 18rem;
    user-select: none;
    summary {
        font-weight: 700;
        font-size: 1.1rem;
        color: $primary-grey-3;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }
    .selected-option-container {
        display: flex;
        justify-content: space-between;
        border: $border-size/10 solid $primary-black;
        border-radius: 0.5rem;
        padding: 0.5rem 1.5rem;
        background-color: $white;
        .selected-value {
            span {
                font-size: 1.1rem;
                font-weight: 700;
                color: $primary-black;
            }
        }
        .icon-container {
            .dropdown-icon {
                color: rgba($primary-red, 0.7);
            }
        }
    }
    .options-container {
        position: absolute;
        width: 18rem;
        background-color: $white;
        box-shadow: 1px 2px 10px $primary-grey-4;
        border-radius: 0.5rem;
        margin-top: 0.15rem;
        transition: all 0.2s linear;
        .select-option {
            @extend .option;
            label:hover {
                cursor: pointer;
            }
        }
        .select-option-selected {
            @extend .option;
            font-weight: 700;
            background-color: rgba($color: $primary-red, $alpha: 0.05);
            label:hover {
                cursor: pointer;
            }
        }
        .select-option:hover {
            cursor: pointer;
            background-color: rgba($color: $primary-red, $alpha: 0.05);
        }
        div:first-child:hover {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
        div:last-child:hover {
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
    }
    .select-menu-active {
        border-color: $primary-red;
    }
}

.switch-common {
    position: relative;
    text-align: center;
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
    padding: 0.15rem 0rem;
    user-select: none;
}

.switch-container {
    display: inline-block;
    height: 2rem;
    width: 12rem;
    input[type='checkbox'] {
        display: none;
    }
    input[type='checkbox']:checked + .choice-container > .choice-primary::before {
        content: '';
        transform: translateX(6rem);
    }
    input[type='checkbox']:checked + .choice-container > .choice-primary {
        color: $primary-red;
    }
    input[type='checkbox']:checked + .choice-container > .choice-secondary {
        color: $white;
    }
    .choice-container {
        position: relative;
        display: flex;
        align-items: center;
        border: $border-size solid $primary-red;
        cursor: pointer;
        font-size: 0.9rem;
        border-radius: 1rem;
        height: 2rem;
        .choice-primary {
            @extend .switch-common;
            transition: 0.2s;
            color: $white;
        }
        .choice-primary::before {
            position: absolute;
            top: 0;
            left: 0;
            content: 'HOST:PORT';
            text-align: center;
            padding: 0.15rem 0rem;
            color: $white;
            background-color: $primary-red;
            width: 6rem;
            height: 2rem;
            border-radius: 1rem;
            transition: 0.2s;
            user-select: none;
        }
        .choice-secondary {
            @extend .switch-common;
            color: $primary-red;
        }
    }
}

.checkbox-wrapper {
    // box-sizing: border-box;
    // margin: 0;
    // padding: 0;
    color: #000000d9;
    font-size: 14px;
    line-height: 1.5715;
    list-style: none;
    display: inline-flex;
    align-items: baseline;
    line-height: unset;
    cursor: pointer;
}

.checkbox {
    -webkit-appearance: none;
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border: 0.12rem solid $primary-black;
    border-radius: 0.15rem;
    display: grid;
    place-content: center;
    &:hover {
        cursor: pointer;
    }
    &::before {
        content: '';
        width: 0.7rem;
        height: 0.7rem;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1rem 1rem $primary-red;
    }
    &:checked::before {
        transform: scale(1);
    }
}

.checkbox-inverted {
    @extend .checkbox;
    border: 0.12rem solid $white;
    &::before {
        box-shadow: inset 1rem 1rem $white;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
