@import '../../../assets/styles/variables';
@import '../../../assets/styles/common';

.pagination-btn {
    height: 2.8rem;
    width: 2.8rem;
    padding: 0rem;
    border-radius: 1.4rem;
    margin: 0.3rem;
}

.pagination-container {
    display: flex;
    justify-content: center;
    .nav-icon {
        width: 1.2rem;
        height: 1.2rem;
        color: $primary-red;
    }
    .nav-icon-disabled {
        width: 1.2rem;
        height: 1.2rem;
        color: $primary-grey-2;
    }
    .active-page-btn {
        @extend .pagination-btn;
        color: $white;
        background-color: $primary-red;
        &:hover {
            border-color: $primary-red;
        }
    }
    .inactive-page-btn {
        @extend .pagination-btn;
        border: 0.5px solid $primary-grey-3;
        &:hover {
            border-color: $primary-red;
        }
    }
    .navigation-page-btn {
        @extend .pagination-btn;
        &:disabled {
            border-color: $primary-grey-4;
            background-color: $primary-grey-4;
            color: $primary-grey-2;
            svg {
                color: $primary-grey-2;
            }
        }
    }
}
