@import '../../../assets/styles/variables';
@import '../../../assets/styles/common';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .step-name {
        color: $primary-grey-2;
        font-size: 1.1rem;
        font-weight: 600;
        margin-top: 0.2rem;
    }
    .step-header {
        color: $primary-grey-2;
        font-size: 0.9rem;
    }
    .step-name-active {
        color: $primary-red;
    }
    .step-header-active {
        color: $primary-red;
    }
}
.icon-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    hr {
        width: 100%;
        border-width: 0;
        height: $hr-height;
    }
    .icon-left-line {
        color: $primary-grey-2;
        background-color: $primary-grey-2;
    }
    .icon-right-line {
        color: $primary-grey-2;
        background-color: $primary-grey-2;
    }
    .icon-left-line-active {
        color: $primary-red;
        background-color: $primary-red;
    }
    .icon-right-line-active {
        color: $primary-red;
        background-color: $primary-red;
    }
    .step-icon {
        color: $primary-grey-2;
        font-size: 2.7rem;
        margin: 0rem 0.4rem;
        &:hover {
            cursor: pointer;
        }
    }
    .step-icon-active {
        color: $primary-red;
    }
}
